/* .container {
    width: 84%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
} */


.nav-item > a {
    color: whitesmoke;
}
.portraitImage {
    margin-bottom: 20px;
}